@charset "utf-8";

/* ------------------------------------------------------------------------------------------------------------- */
/* font */
@font-face {font-family:'HuNemo18'; font-style:normal; font-weight:500; src:local('※'), url('../../common/font/HeummNemo18.woff');}
@font-face {font-family:'HuNemo17'; font-style:normal; font-weight:500; src:local('※'), url('../../common/font/HeummNemo17.woff');}